<nav>
  <div class="nav-wrapper">
    <a href="/" class="brand-logo"><i class="material-icons">cloud</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a href="/pictures/new"><i id="new-png"class="fa fa-plus" ></i></a></li>
      <li><a href="/pictures"><i class="material-icons">view_module </i></a></li>
    </ul>
  </div>
</nav>
